<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh">
    <head th:fragment="header">
        <meta charset="utf-8"/>
        <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="Bookmark" href="/images/favicon.ico"/>
        <link rel="Shortcut Icon" href="/images/favicon.ico"/>

        <!--css-->
        <link href="HUI/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
        <link href="HUI/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
        <link href="HUI/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
        <link href="HUI/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css"/>

        <!--js-->
        <script type="text/javascript" src="HUI/lib/html5shiv.js"></script>
        <script type="text/javascript" src="HUI/lib/respond.min.js"></script>
        <script type="text/javascript" src="HUI/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
        <script>DD_belatedPNG.fix('*');</script>


        <title>信息管理系统</title>




    </head>
</html>