<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh">
    <head th:fragment="header">
        <meta charset="UTF-8"/>
        <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="Bookmark" href="/images/favicon.ico"/>
        <link rel="Shortcut Icon" href="/images/favicon.ico"/>

        <!--css-->
        <link rel="stylesheet" href="/layui/css/layui.css"/>
        <link href="/HUI/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
        <link href="/HUI/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
        <link href="/HUI/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/HUI/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/HUI/h-ui.admin/skin/default/skin.css" id="skin" />
        <link rel="stylesheet" type="text/css" href="/HUI/h-ui.admin/css/H-ui.admin.css"/>
        <!--自定义CSS-->
        <link rel="stylesheet" href="/HUI/h-ui.admin/css/style.css" type="text/css"/>
        <!--引入ztree-->
        <link rel="stylesheet" href="/ztree/css/metroStyle/metroStyle.css" type="text/css"/>

        <!--js-->
        <script type="text/javascript" src="/HUI/lib/html5shiv.js"></script>
        <script type="text/javascript" src="/HUI/lib/respond.min.js"></script>
        <script type="text/javascript" src="/HUI/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
        <script type="text/javascript" src="/jquery/1.9.1/jquery.js"></script>
        <script type="text/javascript" src="/HUI/h-ui/js/H-ui.min.js"></script>
        <script type="text/javascript" src="/HUI/lib/layer/2.4/layer.js"></script>
        <script type="text/javascript" src="/HUI/h-ui.admin/js/H-ui.admin.js"></script>
        <script type="text/javascript" src="/layui/layui.js"></script>
        <script type="text/javascript" src="/HUI/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/HUI/lib/laypage/1.2/laypage.js"></script>
        <script type="text/javascript" th:src="@{/HUI/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
        <script type="text/javascript" th:src="@{/js/application.js}"></script>
        <script type="text/javascript" src="/HUI/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
        <script type="text/javascript" src="/HUI/lib/jquery.validation/1.14.0/validate-methods.js"></script>
        <script type="text/javascript" src="/HUI/lib/jquery.validation/1.14.0/messages_zh.js"></script>
        <script type="text/javascript" src="/HUI/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
        <!--引入ztree包-->
        <script type="text/javascript" src="/ztree/js/jquery.ztree.all.min.js"></script>
        <script type="text/javascript" src="/ztree/js/jquery.ztree.core.min.js"></script>
        <script type="text/javascript" src="/ztree/js/jquery.ztree.excheck.min.js"></script>
        <script type="text/javascript" src="/ztree/js/jquery.ztree.exedit.min.js"></script>
        <!--引入echarts包-->
        <script type="text/javascript" th:src="@{/echarts/echarts.min.js}"></script>
        <title>信息管理系统</title>
    </head>
</html>