<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="common/header::header"/>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" value="" placeholder="" id="userName" name="userName" th:attr="value=(${staff}?(${staff.userName}):'')" style="width: 410px"/>
            </div>
        </div>
        <span th:if="${staff}">
            <input type="hidden" name="userId" id="userId" th:value="${staff.userId}"/>
            <input type="hidden" name="userPassword" id="userPassword1" th:value="${staff.userPassword}"/>
        </span>
        <div th:unless="${staff}">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="password" class="input-text" autocomplete="off" placeholder="密码" id="userPassword" name="userPassword" style="width: 410px"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <input type="password" class="input-text" autocomplete="off"  placeholder="确认密码" id="userPassword2" name="userPassword2" style="width: 410px"/>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">性别：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <span class="select-box" style="width:410px;">
                    <select class="select" name="sex" size="1">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
			    </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">年龄：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" name="age" id="age" th:attr="value=(${staff}?(${staff.age}):'')" style="width: 410px"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">家庭住址：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" name="address" id="address" th:attr="value=(${staff}?(${staff.address}):'')" style="width: 410px"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" name="email" id="email" th:attr="value=(${staff}?(${staff.email}):'')" style="width: 410px"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" placeholder="" id="phone" name="phone" th:attr="value=(${staff}?(${staff.phone}):'')" style="width: 410px"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">民族：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" placeholder="" id="pace" name="pace" th:attr="value=(${staff}?(${staff.pace}):'')" style="width: 410px"/>
            </div>
        </div>
        <div th:if="${staff}">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">所属职位：</label>
                <div class="formControls col-xs-8 col-sm-8">
                <span class="select-box" style="width:410px;">
                    <select class="select" name="jobId" size="1">
                        <option th:text="${staff.jobName}" th:value="${staff.jobId}"></option>
                        <option th:each="job:${jobList}" th:value="${job.jobId}" th:text="${job.jobName}"></option>
                    </select>
			    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否启用：</label>
                <div class="formControls col-xs-8 col-sm-8">
                <span class="select-box" style="width:410px;">
                    <select class="select" name="uStatus" size="1" th:switch="${staff.uStatus}">
                        <option th:text="${staff.uStatus}==1?'已启用':'已停用'" th:attr="value=${staff.uStatus}"></option>
                        <option th:text="${staff.uStatus}==0?'已启用':'已停用'" th:attr="value=(${staff.uStatus}==1?'0':'1')"></option>
                    </select>
			    </span>
                </div>
            </div>
        </div>
        <div th:unless="${staff}">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">所属职位：</label>
                <div class="formControls col-xs-8 col-sm-8">
                <span class="select-box" style="width:410px;">
                    <select class="select" name="jobId" size="1">
                        <option>---请选择用户所属职位---</option>
                        <option th:each="job:${jobList}" th:value="${job.jobId}" th:text="${job.jobName}"></option>
                    </select>
			    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否启用：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    <span class="select-box" style="width:410px;">
                        <select class="select" name="uStatus" size="1">
                            <option value="0">禁用</option>
                            <option value="1">启用</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <textarea name="remark" id="remark" class="textarea"  placeholder="" th:text="${staff}?(${staff.remark}):''" style="width: 410px"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" id="sub" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
                <button onclick="layer_close()" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<script th:src="@{/js/permission/user/userAdd.js}" th:inline="javascript"/>
</body>
</html>