<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="common/header::header">
</head>
<body>
<div id="upload_excel">
    <!-- 内容主体区域 -->
    <div id="fileField" align="center">
        <div class="layui-upload-drag" style="margin-top:50px" id="upload_onclick">
            <i class="layui-icon" style="font-size:110px"></i>
            <p>点击上传，或将文件拖拽到此处</p>
        </div>
    </div>
</div>
<script th:src="@{/js/poi/upload.js}" th:inline="javascript"></script>
</body>
</html>