<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="common/header::header">
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用信息管理系统 <span class="f-14">v3.1</span></p>
	<p>当前用户登录次数：<th:block th:text="${info.getCount()}"></th:block> </p>
	<p>上次登录IP：<th:block th:text="${info.getLastIp()}"></th:block>  上次登录时间：<th:block th:text="${#dates.format(info.getLastTime(),'yyyy-MM-dd HH:mm:ss')}"></th:block></p>
	<table class="table table-border table-bordered table-bg table-hover table-sort">
		<thead>
			<tr>
				<th colspan="7" scope="col" style="text-align:center;">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>部门总数</th>
				<th>职位总数</th>
				<th>员工总数</th>
				<th>登录次数</th>
				<th>管理员</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td th:text="${info.getDeptCount()}">92</td>
				<td th:text="${info.getJobCount()}">9</td>
				<td th:text="${info.getEmpCount()}">0</td>
				<td th:text="${info.getLoginCount()}">8</td>
				<td th:text="${info.getAdminCount()}">20</td>
			</tr>
			<tr class="text-c">
				<td>今日</td>
				<td th:text="${info.getDeptCountToday()}">0</td>
				<td th:text="${info.getJobCountToday()}">0</td>
				<td th:text="${info.getEmpCountToday()}">0</td>
				<td th:text="${info.getLoginCountToday()}">0</td>
				<td th:text="${info.getAdminCountToday()}">0</td>
			</tr>
			<tr class="text-c">
				<td>本周</td>
				<td th:text="${info.getDeptCountWeek()}">0</td>
				<td th:text="${info.getJobCountWeek()}">0</td>
				<td th:text="${info.getEmpCountWeek()}">0</td>
				<td th:text="${info.getLoginCountWeek()}">0</td>
				<td th:text="${info.getAdminCountWeek()}">0</td>
			</tr>
			<tr class="text-c">
				<td>本月</td>
				<td th:text="${info.getDeptCountMonth()}">2</td>
				<td th:text="${info.getJobCountMonth()}">0</td>
				<td th:text="${info.getEmpCountMonth()}">0</td>
				<td th:text="${info.getLoginCountMonth()}">0</td>
				<td th:text="${info.getAdminCountMonth()}">0</td>
			</tr>
			<tr class="text-c">
				<td>半年</td>
				<td th:text="${info.getDeptCountSixMonth()}">2</td>
				<td th:text="${info.getJobCountSixMonth()}">0</td>
				<td th:text="${info.getEmpCountSixMonth()}">0</td>
				<td th:text="${info.getLoginCountSixMonth()}">0</td>
				<td th:text="${info.getAdminCountSixMonth()}">0</td>
			</tr>
			<tr class="text-c">
				<td>本年</td>
				<td th:text="${info.getDeptCountYear()}">2</td>
				<td th:text="${info.getJobCountYear()}">0</td>
				<td th:text="${info.getEmpCountYear()}">0</td>
				<td th:text="${info.getLoginCountYear()}">0</td>
				<td th:text="${info.getAdminCountYear()}">0</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg table-hover table-sort mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col" style="text-align:center;">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器名称</th>
				<td><span id="lbServerName" th:text="${info.getName()}"></span></td>
			</tr>
			<tr>
				<td>服务器IP地址</td>
				<td th:text="${info.getIp()}"></td>
			</tr>
			<tr>
				<td>服务器域名</td>
				<td th:text="${info.getDomainName()}"></td>
			</tr>
			<tr>
				<td>服务器物理地址</td>
				<td th:text="${info.getMac()}"></td>
			</tr>
			<tr>
				<td>服务器端口 </td>
				<td th:text="${info.getPort()}"></td>
			</tr>
			<tr>
				<td>服务器IIS版本 </td>
				<td th:text="${info.getIISVersion()}"></td>
			</tr>
			<tr>
				<td>本文件所在文件夹 </td>
				<td th:text="${info.getFolder()}"></td>
			</tr>
			<tr>
				<td>服务器操作系统 </td>
				<td th:text="${info.getSystem()}"></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col" style="text-align:center;">CPU信息</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="30%">CPU总数</th>
			<td><span id="cpuCount" th:text="${info.getCpuCount()}">http://127.0.0.1/</span></td>
		</tr>
		<tr>
			<td>用户使用率</td>
			<td th:text="${info.getCpuUser()}"></td>
		</tr>
		<tr>
			<td>系统使用率</td>
			<td th:text="${info.getCpuSys()}"></td>
		</tr>
		<tr>
			<td>当前等待率 </td>
			<td th:text="${info.getCpuWait()}"></td>
		</tr>
		<tr>
			<td>当前错误率 </td>
			<td th:text="${info.getCpuNice()}"></td>
		</tr>
		<tr>
			<td>当前空闲率 </td>
			<td th:text="${info.getCpuIdle()}"></td>
		</tr>
		<tr>
			<td>总的使用率 </td>
			<td th:text="${info.getCpuCombined()}"></td>
		</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col" style="text-align:center;">内存信息</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">内存总数</th>
				<td><span id="" th:text="${info.getMemoryTotal()}"></span></td>
			</tr>
			<tr>
				<td>内存使用率 </td>
				<td th:text="${info.getMemoryUsed()}"></td>
			</tr>
			<tr>
				<td>内存空闲率 </td>
				<td th:text="${info.getMemoryFree()}"></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col" style="text-align:center;">系统信息</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">用户名</th>
				<td><span th:text="${info.userName}"></span></td>
			</tr>
			<tr>
				<td>计算机名称 </td>
				<td th:text="${info.getComputerName()}"></td>
			</tr>
			<tr>
				<td>计算机域名 </td>
				<td th:text="${info.getUserDomain()}"></td>
			</tr>
			<tr>
				<td>当前系统时间 </td>
				<td th:text="${#dates.format(info.getCurrentTime(),'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>

			<tr>
				<td>本地主机名 </td>
				<td th:text="${info.getHostName()}"></td>
			</tr>
			<tr>
				<td>用户主目录 </td>
				<td th:text="${info.getUserHome()}"></td>
			</tr>
			<tr>
				<td>操作系统名称 </td>
				<td th:text="${info.getSystemName()}"></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col" style="text-align:center;">JAVA信息</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">Java的运行环境版本</th>
				<td th:text="${info.getJavaVersion()}"></td>
			</tr>
			<tr>
				<td>Java的运行环境供应商 </td>
				<td th:text="${info.getJavaVendor()}"></td>
			</tr>
			<tr>
				<td>Java供应商的URL </td>
				<td th:text="${info.getJavaVendorUrl()}"></td>
			</tr>
			<tr>
				<td>Java的安装路径 </td>
				<td th:text="${info.getJavaHome()}"></td>
			</tr>
			<tr>
				<td>Java的虚拟机规范版本 </td>
				<td th:text="${info.getJavaSpecificationVersion()}"></td>
			</tr>
			<tr>
				<td>JVM可以使用的总内存 </td>
				<td th:text="${info.getJavaTotalMemory()}"></td>
			</tr>
			<tr>
				<td>JVM可以使用的处理器个数 </td>
				<td th:text="${info.getJavaAvailableProcessors()}"></td>
			</tr>
			<tr>
				<td>JVM可以使用的剩余内存 </td>
				<td th:text="${info.getJavaFreeMemory()}"></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col" style="text-align:center;">SESSION信息</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td>当前SessionID </td>
				<td th:text="${info.getSessionId()}">gznhpwmp34004345jz2q3l45</td>
			</tr>
			<tr>
				<td>当前session数量 </td>
				<td th:text="${info.getSessionNum()}">8</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript" th:src="@{/js/welcome.js}"></script>
</body>
</html>